@import "tailwindcss";
@import "@heroui/styles";

/* Custom Animation Theme */
@theme {
  /* This creates the utility class 'animate-text' */
  --animate-text: text 5s ease infinite;

  /* This defines how the animation moves */
  @keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}